# Copy this file to local.properties and fill in real values.

CASTLE_SUFFIX=

SKTECH_FIREBASE_API_KEY=
SKTECH_FIREBASE_APP_ID=
SKTECH_FIREBASE_PROJECT_NUMBER=
SKLIVE_V23_KEY=
SKLIVE_V23_IV=
SKLIVE_KEY=
SKLIVE_IV=

CRICFY_FIREBASE_API_KEY=
CRICFY_FIREBASE_APP_ID=
CRICFY_FIREBASE_PROJECT_NUMBER=
CRICIFY_PROVIDER_SECRET1=
CRICIFY_PROVIDER_SECRET2=

MOVIEBOX_DEFAULT_SECRET_LAYER1_B64=
MOVIEBOX_ALT_SECRET_LAYER1_B64=
